@using FedjazContest.Entities
@model ApplicationUser

@if(Model != null)
{
    <div class="rectangle"></div>
    <div class="profile">
        <div class="row">
            <div class="col-4">
                <img src="@Url.Action("GetAvatar", "Account", new { Username = Model.UserName})" class="avatar-big"/>
            </div>
            <div class="col-4 offset-4">
                <h5>Community activity:</h5>
                <span>@($"Rating: {0}")</span>
                <br />
                <span>@($"Score: {Model.Score}")</span>
                <br />
                <span>@($"Tasks solved: {Model.TasksSolved}")</span>
                <br />
                <span>@($"Blog posts: {0}")</span>
            </div>
        </div>
        <h1 class="mt-3">@($"{Model.FirstName} {Model.LastName}")</h1>
        <h3 class="text-muted">@Model.UserName</h3>

        <div class="bio-rectangle">
            <span class="bio-name">Bio</span>
            <span class="bio-text">@(Model.Bio == "" ? "Here could be your bio!" : Model.Bio)</span>
        </div>
    </div>    
}
